<div class="pageimage">
  <img src="http://masaland.cocolog-nifty.com/photos/uncategorized/2016/02/10/bookpdf01a.jpg">
</div>

<!--上が表示されない場合-->
<%= form_tag("/voicetexts/create") do %>
<% image_url = "http://masaland.cocolog-nifty.com/photos/uncategorized/2016/02/10/bookpdf01a.jpg" %>
  <input type="hidden" name="image_url" value="http://masaland.cocolog-nifty.com/photos/uncategorized/2016/02/10/bookpdf01a.jpg"}>
  <input type="submit" value="画像をテキストデータにする">
<% end %>
