<div class="pageimage">
  <%#= img src="http://masaland.cocolog-nifty.com/photos/uncategorized/2016/02/10/bookpdf01a.jpg" %>
</div>

<!--上が表示されない場合-->
<div>
  <%= link_to "文章画像を表示", "http://masaland.cocolog-nifty.com/photos/uncategorized/2016/02/10/bookpdf01a.jpg", target: :_blank, rel: "noopener noreferrer" %>
</div>
<div>
  <%= link_to "画像をテキストデータにする", '/voicetexts/new' %>
</div>
